# 로컬 uv환경 사용 시 주석 처리 --------------------------------
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.*
# 로컬 uv환경 사용 시 주석 처리 --------------------------------

sentence-transformers
pandas
numpy
scikit-learn==1.7.1
joblib
tqdm
pymysql
psycopg2-binary
beautifulsoup4
lxml
requests
selenium
playwright
pendulum
python-dotenv
openpyxl
xlsxwriter

apache-airflow
apache-airflow-providers-fab
apache-airflow-providers-postgres
apache-airflow-providers-mysql
apache-airflow-providers-common-sql